.container {
  height: 100vh;
  width: 100vw;
}

.stepper {
  
}

.step {
  position: relative;
  list-style: none;
}

.step::after {
  content: "";
  font-size: 30px;
  position: absolute;
  top: 25px;
  left: -18px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

.pending::after {
  background-color: grey  ;
}

.active::after {
  background-color: lightskyblue;
}

.completed::after {
  background-color: skyblue;
}

.step::before {
  content: "";
  position: absolute;
  bottom: -30px;
  left: -16px;
  width: 5px;
  height: 100%;
  z-index: -1;
}

.last::before {
  display: none;
}

.pending::before, .active::before {
  background-color: lightgray;
}

.completed::before {
  background-color: lightskyblue;
}

.header {
  padding: 20px;
}

.content {
  margin-top: 10px;
}